version: '3.3'
services:

  jenkins-docker:
    image: docker:dind 
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - ./jenkins-docker-certs:/certs/client
      - ./jenkins-data:/var/jenkins_home
    networks:
      jenkins:
        aliases:
          - docker
    # ports:
    #   - "2376:2376"
    restart: unless-stopped

  jenkins-blueocean:
    image: jenkinsci/blueocean 
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    volumes:
      - ./jenkins-data:/var/jenkins_home
      - ./jenkins-docker-certs:/certs/client:ro
    networks:
      - jenkins
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      - jenkins-docker

networks:
  jenkins:
    external: false
